#header {
  background-color: rgb(123, 187, 110);
  color: white;
  text-align: center;
  padding: 0px;
  border-radius: 20px 20px 20px 20px;
}

.gifDefaultFormatting {
  width: 480px;
  height: 270px;
  border: none; 
}

.gifSquareFormatting {
  width: 480px;
  height: 480px;
  border: none; 
}

#simpsonsNerdGif {
  height: 351px;
}

#bushGif {
  height: 267px;
}

#hackingGif {
  height: 367px;
}

#exposedGif {
  height: 276px;
}

#noSafetyGif {
  height: 238px;
}

#stopGif {
  height: 398px;
}

#crossArmsGif {
  height: 360px;
}

#sacrificeGif {
  height: 362px;
}

#putinGif {
  height: 475px;
}